*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    background: rgb(149,182,3);
    background: linear-gradient(90deg, rgba(149,182,3,0.2637255585828081) 0%, rgba(255,255,255,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-formulario{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-formulario > h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    max-width: 90%;
}

.container-formulario > .form-nome{
    height: 30px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 30px;
    padding: 5px;
    font-size: 20px;
    max-width: 90%;
    
}

.form-vezes-na-semana > .form-control-select{
    height: 35px;
    width: 200px;
    padding-left: 5px;
    font-size: 15px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px solid black;
}

.form-plano > .form-plano-select{
    height: 35px;
    width: 200px;
    padding-left: 5px;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.form-servicos > .form-servicos-select{
    height: 35px;
    width: 200px;
    padding-left: 5px;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.btn-enviar > .button{
    height: 35px;
    width: 200px;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.btn-enviar > .button:hover{
    transition: .1s;
    background-color: rgb(213, 238, 156);
    position: relative;
    top: 1px;
}

.btn-enviar > .button:active{
    
    background-color: rgb(213, 238, 156);
    position: relative;
    top: 1px;
}
